.contact{
    height: 100%;
    width: 100%;
}

.h1Contact {
    text-decoration: underline;
}
.photo1Contact {
    margin: 10px;
    flex: 1;
    width: 40%;
    height: 40%;
}
.photo2Contact{
    margin: 10px;
    flex: 1;
    width: 40%;
    height: 40%;
}

.contactContainer {
    display: flex;
}
